@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");

html,
body,
pre,
code,
kbd,
samp {
  font-family: "Press Start 2P", cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.content {
  margin: 0 auto;
  max-width: 800px;
  padding: 2em;
}

.flex-wrapper {
  display: flex;
}

.instructions-wrapper {
  display: flex;
  flex-direction: column;
  padding: 1rem 1.5rem;
  margin: 14px 8px;
}

.typed {
  flex-grow: 1;
}
